/* Colors */
/* #771A7A, #272B35, #E55E2D, #00C19E, #065054 */

.orange {
	color: #E55E2D;
}
.container {
	padding-top: 3em;
	/* min-height: 40em; */
	min-width: 100%;
}

#facebook {
	padding-bottom: 2em;
}

h1 {
	font-size: 350%;
	font-family: 'Modak', cursive;
}

h3 {
	font-size: 175%;
	font-family: 'Oswald', sans-serif;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 140%;
}

#top-div {
	background-color: #065054;
	text-align: center;
}

#top-header {
	color: #E55E2D;
	padding-top: 1.5em;
}

.top-text {
	color: #D8D4CA;
}

#top-image {
	max-width: 22em;
	padding-bottom: 2em;
}

#about-div {
	background-color: #00c19e;
	text-align: center;
}

#about-header {
	color: #654054;
}

#about-text {
	padding: 0 4em;
	color: #272B35;
}

#about-image {
	max-width: 21em;
	padding-top: 2em;
	padding-bottom: 2em;
}

#contact-div {
	background-color: #065054;
	text-align: center;
}

#contact-header {
	color: #E55E2D;
}

#contact-text {
	padding: 0 4em;
	color: #D8D4CA;
}

#contact-image {
	max-width: 21em;
	padding-top: 2em;
	padding-bottom: 2em;
}



