<div class="container" id="top-div">
	<div class="row">
		<div class="col-md-9">
			<h1 id="top-header">Welcome to {{ title }}!</h1>
			<h3 class="top-text">Sorry, this page is under construction.</h3>
			<h3 class="top-text" id='facebook'>Please visit us on Facebook at
				<a
					target="_blank"
					rel="noopener"
					href="https://www.facebook.com/themadbatterstl/">
					The Mad Batter STL
				</a>
			</h3>
		</div>
		<div class="col-md-3">
			<img src="../assets/Main.png" alt="Hungry Hungry Caterpillar Cake" id="top-image"> 
		</div>
	</div>
</div>

<div class="container" id="about-div">
	<div class="row">
		<div class="col-md-3">
			<h1 id="about-header">About the Mad Batter</h1>
			<img src="../assets/Main.png" alt="Hungry Hungry Caterpillar Cake" id="about-image">
		</div>
		<div class="col-md-9" id="about-text">
			<p class="text-md-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum risus vel nulla fringilla tincidunt. Etiam tincidunt nunc vel ex sodales vestibulum. Integer in lectus ut felis lobortis euismod et tempus turpis. Etiam sodales sapien tellus, non iaculis urna commodo sit amet. Ut vel ante vitae elit mollis ornare. Aenean porttitor porttitor tellus, at efficitur magna placerat sit amet. Vivamus posuere est ac justo pharetra dignissim. Aliquam eget neque non nibh accumsan hendrerit et eget elit. Donec porttitor lacus a euismod vestibulum. In eu tincidunt magna. Aenean vulputate, massa ac posuere elementum, urna purus bibendum ante, ac vestibulum diam neque a tellus.</p>
			<hr>
			<p class="text-md-right">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum risus vel nulla fringilla tincidunt. Etiam tincidunt nunc vel ex sodales vestibulum. Integer in lectus ut felis lobortis euismod et tempus turpis. Etiam sodales sapien tellus, non iaculis urna commodo sit amet. Ut vel ante vitae elit mollis ornare. Aenean porttitor porttitor tellus, at efficitur magna placerat sit amet. Vivamus posuere est ac justo pharetra dignissim. Aliquam eget neque non nibh accumsan hendrerit et eget elit. Donec porttitor lacus a euismod vestibulum. In eu tincidunt magna. Aenean vulputate, massa ac posuere elementum, urna purus bibendum ante, ac vestibulum diam neque a tellus.</p>
		</div>
	</div>
</div>

<div class="container" id="contact-div">
	<div class="row flex-md-row-reverse">
		<div class="col-md-3">
			<h1 id="contact-header">Pricing and Contact Info</h1>
			<img src="../assets/Main.png" alt="Hungry Hungry Caterpillar Cake" id="contact-image">
		</div>
		<div class="col-md-9" id="contact-text">
			<p class="text-md-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum risus vel nulla fringilla tincidunt. Etiam tincidunt nunc vel ex sodales vestibulum. Integer in lectus ut felis lobortis euismod et tempus turpis. Etiam sodales sapien tellus, non iaculis urna commodo sit amet. Ut vel ante vitae elit mollis ornare. Aenean porttitor porttitor tellus, at efficitur magna placerat sit amet. Vivamus posuere est ac justo pharetra dignissim. Aliquam eget neque non nibh accumsan hendrerit et eget elit. Donec porttitor lacus a euismod vestibulum. In eu tincidunt magna. Aenean vulputate, massa ac posuere elementum, urna purus bibendum ante, ac vestibulum diam neque a tellus.</p>
			<hr>
			<p class="text-md-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In elementum risus vel nulla fringilla tincidunt. Etiam tincidunt nunc vel ex sodales vestibulum. Integer in lectus ut felis lobortis euismod et tempus turpis. Etiam sodales sapien tellus, non iaculis urna commodo sit amet. Ut vel ante vitae elit mollis ornare. Aenean porttitor porttitor tellus, at efficitur magna placerat sit amet. Vivamus posuere est ac justo pharetra dignissim. Aliquam eget neque non nibh accumsan hendrerit et eget elit. Donec porttitor lacus a euismod vestibulum. In eu tincidunt magna. Aenean vulputate, massa ac posuere elementum, urna purus bibendum ante, ac vestibulum diam neque a tellus.</p>
		</div>
	</div>
</div>
