/* Colors */
/* Basic:  #005255, #00C59C, #9067AE, #ED8957, #FBCFB8 */
/* Darker: #001414, #00C59C, #6C4884, #ED8957, #FBCFB8 */

@font-face {
  font-family: 'dianaBookRegular';
  src: url('/src/assets/fonts/DianaBook.woff') format('woff');
}

body {
  font-family: 'Oswald', sans-serif;
}

#mad-batter-link {
  text-decoration: underline;
  color: #005255;
}

.orange {
	color: #ED8957;
}
.container {
	padding-top: 3em;
	/* min-height: 40em; */
	min-width: 100%;
}

#facebook {
	padding-bottom: 2em;
}

h1 {
	font-size: 350%;
}

h3 {
	font-size: 175%;
}

p {
	font-size: 140%;
}

#top-div {
	background-color: #FBCFB8;
	text-align: center;
}

#top-header {
	color: #9067AE;
	padding-top: 2.5em;
}

.top-text {
	color: #005255;
}

#top-image {
	width: 80%;
	height: auto;
	/* max-width: 22em; */
	padding-bottom: 2em;
}

#logo {
  width: 80%;
  height: auto;
  padding-bottom: 2em;
}

#about-div {
	background-color: #00C59C;
	text-align: center;
}

#about-header {
	color: #6C4884;
}

#about-text {
	padding: 0 4em;
	color: #001414;
}

#about-image {
	width: 80%;
	height: auto;
	padding-top: 2em;
	padding-bottom: 2em;
}

#contact-div {
	background-color: #005255;
	text-align: center;
}

#contact-header {
	color: #ED8957;
}

#contact-text {
	padding: 0 4em;
	color: #FBCFB8;
}

#contact-image {
	width: 80%;
	height: auto;
	padding-top: 2em;
	padding-bottom: 2em;
}



